
<!-- NAVBAR - Menu
================================================== -->



<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
   <!-- <div class="navbar-wrapper">
      <div class="container"> -->

        <!-- <div class="navbar navbar-inverse navbar-static-top" role="navigation"> -->
        <div class="navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

  <span class="navbar-logo">

  <a href="/index.html">
<!-- BEGIN LOGO -->

<img src="/images/rmhpa-s-logo.png" alt="RMHPA" />

<!-- END LOGO -->


</span>



              <a class="navbar-brand" href="/index.html">

</a>


            </div>
            <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-default">
                <!-- <li class="active"><a href="/">RMHPA</a></li> -->
                <li class="dropdown">
                <a href="/index.html" class="dropdown-toggle" data-toggle="dropdown"><span class="rmhpa-font">RMHPA</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about-us/">About</a></li>
                  <li><a href="/join/">Join</a></li>
                  <li><a href="/meeting/">Monthly Meeting</a></li>
                  <li><a href="/partnerships/">Partnerships</a></li>
                  <li><a href="/links/">Links</a></li>
                </ul>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flying Sites <b class="caret"></b></a>




                  <ul class="dropdown-menu">
                    <li><a href="/general-site-disclaimers">General Site Info</a></li>
                    <li class="dropdown-header">Front Range Sites</li>
                    <li><a href="/lookout-site-guide">Lookout</a></li>
                    <li><a href="/boulder-site-guide">Boulder</a></li>

                    <li class="divider"></li>
                    <li class="dropdown-header">Mountain Sites</li>
                    <li><a href="/bellyache-site-guide">Bellyache</a></li>
                    <li><a href="/wolcott-site-guide/">Wolcott</a></li>
                    <li><a href="/williams-site-guide/">Williams</a></li>
                    <li><a href="/villa-grove-site-guide/">Villa Grove</a></li>
                    <li><a href="/copper-site-guide/">Copper Mountain</a></li>
                    <li><a href="/kenosha-pass-site-guide/">Kenosha Pass</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weather <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/weather/">Weather Links</a></li>
                      <li><a href="/new-weather-big-picture/">Weather - Big Picture (beta)</a></li>
                      <li><a href="/new-weather-forecast/">Weather - Forecast (beta)</a></li>
                      <li><a href="/new-weather-current-conditions/">Weather - Current Conditions (beta)</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experience <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/experience/">Learn about Hang Gliding and Paragliding</a></li>
                  </ul>

                </li>

                <li><a href="http://xc.rmhpa.org/">Leonardo XC</a></li>
                <li><a href="http://rmhpa.org/messageboard/">Forum</a></li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
