<!-- navigation goes here -->

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
  <img src="/images/rmhpa-s-logo.png" alt="RMHPA" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="rmhpa-font">RMHPA</span> <span class="sr-only">(current)</span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/about-us/">About</a>
          <a class="dropdown-item" href="/join/">Join</a>
          <a class="dropdown-item" href="/meeting/">Monthly Meeting</a>
          <a class="dropdown-item" href="/partnerships/">Partnerships</a>
          <a class="dropdown-item" href="/links/">Links</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flying Sites</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">

          <a class="dropdown-item" href="/general-site-disclaimers">General Site Info</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Front Range Sites</div>
          <a class="dropdown-item" href="/lookout-site-guide">Lookout</a>
          <a class="dropdown-item" href="/boulder-site-guide">Boulder</a>

          <div class="dropdown-divider"></div>
          <div class="dropdown-header">Mountain Sites</div>
          <a class="dropdown-item" href="/bellyache-site-guide">Bellyache</a>
          <a class="dropdown-item" href="/wolcott-site-guide/">Wolcott</a>
          <a class="dropdown-item" href="/williams-site-guide/">Williams Peak</a>
          <a class="dropdown-item" href="/villa-grove-site-guide/">Villa Grove</a>
          <a class="dropdown-item" href="/copper-site-guide/">Copper Mountain</a>
          <a class="dropdown-item" href="/kenosha-pass-site-guide/">Kenosha Pass</a>

          <!-- <div class="dropdown-divider"></div>
          <div class="dropdown-header">Other Colorado Sites (Non-RMHPA)</div>

          <a class="dropdown-item" href="https://forum.rmhpa.org/t/new-site-pawnee-grasslands-eastern-colorado/4539">Pawnee Grasslands</a>
          <a class="dropdown-item" href="https://forum.rmhpa.org/t/book-cliffs-site-guide/5626">Book Cliffs</a> -->

        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="/weather/">Weather</a></li>
      <li class="nav-item"><a class="nav-link" href="/safety/">Safety</a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.xcontest.org/rmhpa/">Xcontest</a></li>
      <!-- <li class="nav-item"><a class="nav-link" href="https://forum.rmhpa.org/">Forum</a></li> -->

    </ul>

  </div>
</nav>
